In [1]:
pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.25.11)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Import Libreries 
from selenium import webdriver
import pandas as pd
import selenium
#let's first connect web drivers

#driver = webdriver.Chrome(r"D:\chromedriver_win32\chromedriver.exe")  #optional
driver = webdriver.Chrome("chromedriver.exe")                         #uploded with local project file

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [5]:
url ='https://www.naukri.com/'  #set url here
driver.get(url)                  
search_job=driver.find_element_by_id('qsb-keyword-sugg')     #we can find it by id even we can find it with xpath
search_job
search_job.send_keys("Data Analyst")                         #send on web browser we have to write Data Analyst
search_loc =driver.find_element_by_id("qsb-location-sugg")   #we can find it by id even we can find it with xpath
search_loc.send_keys("Bangalore")                            #send on web browser we have to write Banglore
search_btn=driver.find_element_by_xpath("//button[@class='btn']")      #we can find it by id even we can find it with xpath
search_btn.click()                                             #btn click

In [7]:
#Titile
Titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Titles_tags
#Now we will run for loop to find all data
job_titles=[]              #empty tag 
for i in Titles_tags:      
    job_titles.append(i.text)

job_titles 
#Experience_tags
Experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
Experience_tags
job_exp=[]
for i in Experience_tags:
    job_exp.append(i.text)
job_exp 

#salary_tags
salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']//span")
salary_tags
#Now we will run for loop to find all data
salary_exp=[]
for i in salary_tags:
    salary_exp.append(i.text)
salary_exp 

#desrcriptionTag
desrcriptionTag=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
desrcriptionTag
descriptionJob=[]
for i in desrcriptionTag:
    descriptionJob.append(i.text)
descriptionJob

#locationJob
locationJob=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
locationJob
locationForJob=[]
for i in locationJob:
    locationForJob.append(i.text)
locationForJob

#Company
Companytags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Companytags
#Now we will run for loop to find all data
job_Company=[]              #empty tag 
for i in Companytags:      
    job_Company.append(i.text)

job_Company 
print(len(job_titles),len(job_exp),len(salary_exp),len(job_Company),len(locationForJob))

jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=job_Company
jobs['Experience']=job_exp
jobs['Location']=locationForJob
jobs[0:10]

20 20 20 20 20

,Title,Company,Experience,Location
0,Senior Data Analyst,Flipkart Internet Private Limited,4-5 Yrs,Bangalore/Bengaluru
1,Data analysts,IBM India Pvt. Limited,3-5 Yrs,Bangalore/Bengaluru
2,Data analysts,IBM India Pvt. Limited,5-6 Yrs,Bengaluru/Bangalore
3,Data Analyst,Zilingo.com,0-4 Yrs,Bangalore/Bengaluru
4,Data Analyst (Data Stewards)//Immediate Joiner...,Tech Mahindra Ltd.,5-10 Yrs,Bangalore/Bengaluru
5,Data Analyst with Replicon Software,Replicon Software (India) Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru
6,Data Analyst / Sr. Data Analyst - SQL,Naukri Premium - Employer Services,2-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Publicis Groupe,5-9 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Publicis Groupe,6-8 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst,Publicis Groupe,1-7 Yrs,Bangalore/Bengaluru

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data

In [99]:
url2 ='https://www.naukri.com/'  #set url here
driver.get(url2)                  
search_job=driver.find_element_by_id('qsb-keyword-sugg')     #we can find it by id even we can find it with xpath
search_job
search_job.send_keys("Data Scientist")                         #send on web browser we have to write Data Analyst
search_loc =driver.find_element_by_id("qsb-location-sugg")   #we can find it by id even we can find it with xpath
search_loc.send_keys("Bangalore")                            #send on web browser we have to write Banglore
search_btn=driver.find_element_by_xpath("//button[@class='btn']")      #we can find it by id even we can find it with xpath
search_btn.click()

In [100]:
job_Opening_urls=[]

url= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in url[:10]:
    job_Opening_urls.append(i.get_attribute('href'))
job_Opening_urls

['https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-4-to-8-years-290621500776?src=jobsearchDesk&sid=16251632532458385&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nielsen-india-private-limited-chennai-bangalore-bengaluru-vadodara-baroda-3-to-5-years-290621001647?src=jobsearchDesk&sid=16251632532458385&xp=2&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=16251632532458385&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-roppen-transportation-services-private-limited-bangalore-bengaluru-5-to-8-years-010721000825?src=jobsearchDesk&sid=16251632532458385&xp=4&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-nielseniq-bangalore-bengaluru-3-to-5-years-300621501250?src=jobsearchDesk&sid=16251632532458385&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-gojek-tech-bangalore-bengaluru-3-to-6-years-300621500215?src=jobsearchDesk&sid=16251632532458385&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-go-jek-india-bangalore-bengaluru-5-to-10-years-300621500214?src=jobsearchDesk&sid=16251632532458385&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-publicis-groupe-bangalore-bengaluru-2-to-5-years-290621500896?src=jobsearchDesk&sid=16251632532458385&xp=8&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-baker-hughes-incorporated-bangalore-bengaluru-3-to-7-years-010721501049?src=jobsearchDesk&sid=16251632532458385&xp=9&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-payments-airbnb-global-capability-center-private-limited-bangalore-bengaluru-4-to-6-years-300621903935?src=jobsearchDesk&sid=16251632532458385&xp=10&px=1']

In [63]:
job_Description=[]


for i in job_Opening_urls:   
    driver.get(i)
    try:
     
        job_title=driver.find_element_by_xpath("//div[@class='dang-inner-html']") 
        job_Description.append(job_title.text).replace('\n','') 
        
    except:
        pass
job_Description

['The Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you.\nJob Responsibilities\nAbility to understand a problem statement and implement analytical solutions techniques independently with independently / proactively / thought-leadership.\nWork with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions.\nFast learner: ability to learn and pick up a new language/tool/ platform quickly.\nConceptualize, design, and deliver high-quality solutions and insightful analysis.\nConduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems.\nCollaborate and Coordinate with different functional teams(engineering and product development) to implement models and monitor outcomes.\nAbility to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization\nExperience Required:\nExpert level proficiency in at least one of R and Python.\nAbility to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms.\nExperience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance.\nProblem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes.\nIntermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis.\nWe use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go.\nGood to Have:\nExperience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems\nExperience of working in on one or more domains:\nCPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management\nBFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection\nHealthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse\nExperience in working with Linux computing environment and use of command line tools like sed/awk\nGood grasp on databases including RDBMS, NoSQL, MongoDB etc.\nEducation Qualification\nB.Tech / M.Tech in Computer Science / Mathematics / Signal Processing or related fields.',
 'ABOUT THIS JOB\nNielsenIQ Advanced Analytics team develops and promotes a portfolio of global products. Leveraging NielsenIQs unparalleled data and global platforms, the Advanced Analytics team creates solutions to enable our clients to make better business decisions every day.  We partner with Product Owners and Core Technology Teams to build scalable, always on,  analytic products using relevant modeling/ML techniques.\nWe’re looking for a passionate and talented Senior Data Scientist to join our growing team. In this role, you’ll have the chance to roll up your sleeves and apply data science methods and analytics to sustain NielsenIQ Analytics growth. Successful candidates are intellectually curious builders and active learners who are biased toward action, new problem solving.\nRoles & Responsibilities :\nUnderstand business issues, stakeholder requirement and expectations\nPerform relevant modeling analysis and POC exploring multiple techniques\nEnsure Analytics model quality\nDocument and present findings and recommendations on methodology in a structured way to various stakeholder or partnering teams (Engineering, Tech, Product leader).\nWork closely with the Engineering and Tech team to convert those POC into fully scalable products.\nActive and effective collaboration with other project team members (other Data Scientist, Data Steward, Technology Engineer)\nCollaboratively manage projects from timeline creation to project completion, managing expectations with leaders and colleagues\nEncourage team building, best practices sharing especially with more junior team members.\nStay abreast of developments in the area to ensure bringing the most appropriate solutions to our business\nAbout You\nYou’ve built a decent track record in research and data analytics. And you have the communication chops to translate it all into conversations. While you’ve worked with global cross-functional teams, you can also put your head down and focus on independent projects. Seeing the big picture takes attention to detail. Keeping up with the fast-changing world of technology takes someone who recognizes that. You know what’s happening in big data and you’re ready to influence what’s next.\nQualifications\nMasters degree in Data Sciences, mathematics or a closely related field\n3 to 5 years of experience as a Data Scientist in the business\nStrong knowledge of statistical modelling, machine learning.\nExperience in machine learning, supervised and unsupervised: Forecasting, Classification, Data/Text Mining, NLP, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms\nExperience with Optimisation techniques: linear programming, integer programming, genetic algorithm, constrained optimisation\nExperience in working on distributed or cloud computing platforms such as Google Cloud or Microsoft Azure\nProficiency in Data Science coding languages like Python, PySpark, SQL, R in a cloud environment like DataBricks\nExperience using collaborative development tools (git).\nExperience working with Agile methodologies (SCRUM)\nStrong problem solving and excellent communication skills, independent working style\nExperience in an FMCG company is a strong plus',
 'Roles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.',
 'Our Cause:\nRapido is Indias largest bike taxi player focused on solving the first and last mile connectivity problem for India. The primary focus is mobility and changing all facets of mobility across India.We believe that 2 Wheeler are the right mode of transport for developing countries like India and have much more scope than 4 wheelers, which is also reflected in the fact that the number of 2 wheelers is significantly more than the number of 4-wheelers.We have operations in close to 100 cities and are the undisputed market leader in this space. Growing close to 500% year-on-year, we have ambitious targets set for ourselves in the future as well.\n\nRole and Responsibilities:\n\nTranslating business requirements into analytical solutions\nPerform data analysis (with a representative sample data slice) and build/prototype the model(s)\nWork with business users and/or other data scientists to define and close on the model design\nProvide inputs to the data ingestion/engineering team on input data required by the model, size, format, associations, cleansing required\nIdentify/Provide approach and data to validate the model(s)\nCollaborate with a technology/data engineering team to transfer the business understanding, get the model productionized and validate the output along with business users\nTune the model(s) to improve results provided over time\nUnderstand business challenges and goals to formulate the approach for data analysis and model creation that will support business decision making\nDo hands-on data analysis and model creation\nWork closely with data analysts in the team to define and execute on EDA and experiment roadmap\nWork in highly collaborative teams that strive to build quality systems and provide business value\nContinually learn and develop your career\nMust have:\n\nPassion for understanding business problems and trying to address them by leveraging data - characterized by high-volume, high dimensionality from multiple sources\nAbility to communicate complex models and analysis in a clear and precise manner\nExperience with building predictive statistical, behavioral or other models via supervised and unsupervised machine learning, statistical analysis, and other predictive modeling techniques.\nExperience using R, Python or equivalent statistical/data analysis tools. Ability to transfer that knowledge to different tools\nExperience with matrices, distributions and probability\nProficiency with relational databases and NoSQL\nExperience in Machine Learning, Deep Learning solution, Neural Networks is preferred.\nWorked in a big data environment before alongside a data engineering team (and data visualization team, data and business analysts)\nEducation and Experience:\nBE/BS/MS or equivalent in Applied mathematics, statistics, physics, computer science or operations research background is a MUST. Minimum 5-8 years as Data Scientist in real business impact projects',
 'Roles Responsibilities :\nUnderstand business issues, stakeholder requirement and expectations\nPerform relevant modeling analysis and POC exploring multiple techniques\nEnsure Analytics model quality\nDocument and present findings and recommendations on methodology in a structured way to various stakeholder or partnering teams (Engineering, Tech, Product leader ).\nWork closely with the Engineering and Tech team to convert those POC into fully scalable products.\nActive and effective collaboration with other project team members (other Data Scientist, Data Steward, Technology Engineer )\nCollaboratively manage projects from timeline creation to project completion, managing expectations with leaders and colleagues\nEncourage team building, best practices sharing especially with more junior team members.\nStay abreast of developments in the area to ensure bringing the most appropriate solutions to our business\nAbout You\nYou ve built a decent track record in research and data analytics. And you have the communication chops to translate it all into conversations. While you ve worked with global cross-functional teams, you can also put your head down and focus on independent projects. Seeing the big picture takes attention to detail. Keeping up with the fast-changing world of technology takes someone who recognizes that. You know what s happening in big data and you re ready to influence what s next.\nQualifications\nMasters degree in Data Sciences, mathematics or a closely related field\n3 to 5 years of experience as a Data Scientist in the business\nStrong knowledge of statistical modelling, machine learning.\nExperience in machine learning, supervised and unsupervised: Forecasting, Classification, Data/Text Mining, NLP, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms\nExperience with Optimisation techniques: linear programming, integer programming, genetic algorithm, constrained optimisation\nExperience in working on distributed or cloud computing platforms such as Google Cloud or Microsoft Azure\nProficiency in Data Science coding languages like Python, PySpark, SQL, R in a cloud environment like DataBricks\nExperience using collaborative development tools (git ).\nExperience working with Agile methodologies (SCRUM)\nStrong problem solving and excellent communication skills, independent working style\nExperience in an FMCG company is a strong plus',
 'As our Senior Data Scientist, youll be an integral player in the Marketplace Data Science team based in Bengaluru. With the latest cutting-edge data science tech at your disposal, youll focus your efforts on bringing our Marketplace systems (i.e. supply, demand, and pricing) to the next level, employing various quantitative techniques such as Machine Learning, Optimization, Simulation, Bayesian Techniques to drive asymmetric values for our businesses at Gojek. Youll be heavily involved in ideation, research, and building prototypes, and the folks in the Data Science Platform will bring your models to production. Your efforts will directly influence the stability and scalability of Gojeks Marketplace stream, and thus to companys top and bottom line as a whole.\n  What You Will Do\nWork with Data Scientists, Machine Learning Engineers, and Business Users to build, deploy, and scale Data Science solutions on match-making, supply, pricing problems in Gojek that touch the company s baseline\nUse your experience in Data Science, Machine Learning, Software Engineering, distributed systems to develop these systems, and work with the platform team to take the systems to production\nWork with Business teams to continuously refine and improve the systems to cater to ever-changing Gojek needs\nDesign and develop world class Data Science solutions to enhance the current stack of Marketplace algorithms for supply, demand, pricing\nWhat You Will Need\nAt least 6 years of experience as a Data Scientist or Machine Learning Engineer, with experience in Python, Golang/Java, and Unix\nA Bachelors Degree in Computer Science, Statistics, Operations Research, or a relevant quantitative field\nSolid knowledge of Data Science and Machine Learning fundamentals, with proven experience formulating Data Science solutions to business problems\nProven ability to recognize business needs and to communicate with multiple stakeholders within the Product Management, Business and Operations teams\nExperience in taking Data Science models to production\nPrior academic or industry work experience with forecasting methods like auto-regressive models, Markov models, and Kernel-based methods\nPrior experience with simulations for modeling the stochastic nature of marketplace supply and demand, and knowledge of the transportation and mobility space',
 'As our Senior Data Scientist, youll be an integral player in the Marketplace Data Science team based in Bengaluru. With the latest cutting-edge data science tech at your disposal, youll focus your efforts on bringing our Marketplace systems (i.e. supply, demand, and pricing) to the next level, employing various quantitative techniques such as Machine Learning, Optimization, Simulation, Bayesian Techniques to drive asymmetric values for our businesses at Gojek. Youll be heavily involved in ideation, research, and building prototypes, and the folks in the Data Science Platform will bring your models to production. Your efforts will directly influence the stability and scalability of Gojeks Marketplace stream, and thus to companys top and bottom line as a whole.\n  What You Will Do\nWork with Data Scientists, Machine Learning Engineers, and Business Users to build, deploy, and scale Data Science solutions on match-making, supply, pricing problems in Gojek that touch the company s baseline\nUse your experience in Data Science, Machine Learning, Software Engineering, distributed systems to develop these systems, and work with the platform team to take the systems to production\nWork with Business teams to continuously refine and improve the systems to cater to ever-changing Gojek needs\nDesign and develop world class Data Science solutions to enhance the current stack of Marketplace algorithms for supply, demand, pricing\nWhat You Will Need\nAt least 6 years of experience as a Data Scientist or Machine Learning Engineer, with experience in Python, Golang/Java, and Unix\nA Bachelors Degree in Computer Science, Statistics, Operations Research, or a relevant quantitative field\nSolid knowledge of Data Science and Machine Learning fundamentals, with proven experience formulating Data Science solutions to business problems\nProven ability to recognize business needs and to communicate with multiple stakeholders within the Product Management, Business and Operations teams\nExperience in taking Data Science models to production\nPrior academic or industry work experience with forecasting methods like auto-regressive models, Markov models, and Kernel-based methods\nPrior experience with simulations for modeling the stochastic nature of marketplace supply and demand, and knowledge of the transportation and mobility space',

In [65]:
job_Description

['The Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you.\nJob Responsibilities\nAbility to understand a problem statement and implement analytical solutions techniques independently with independently / proactively / thought-leadership.\nWork with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions.\nFast learner: ability to learn and pick up a new language/tool/ platform quickly.\nConceptualize, design, and deliver high-quality solutions and insightful analysis.\nConduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems.\nCollaborate and Coordinate with different functional teams(engineering and product development) to implement models and monitor outcomes.\nAbility to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization\nExperience Required:\nExpert level proficiency in at least one of R and Python.\nAbility to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms.\nExperience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance.\nProblem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes.\nIntermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis.\nWe use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go.\nGood to Have:\nExperience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems\nExperience of working in on one or more domains:\nCPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management\nBFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection\nHealthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse\nExperience in working with Linux computing environment and use of command line tools like sed/awk\nGood grasp on databases including RDBMS, NoSQL, MongoDB etc.\nEducation Qualification\nB.Tech / M.Tech in Computer Science / Mathematics / Signal Processing or related fields.',
 'ABOUT THIS JOB\nNielsenIQ Advanced Analytics team develops and promotes a portfolio of global products. Leveraging NielsenIQs unparalleled data and global platforms, the Advanced Analytics team creates solutions to enable our clients to make better business decisions every day.  We partner with Product Owners and Core Technology Teams to build scalable, always on,  analytic products using relevant modeling/ML techniques.\nWe’re looking for a passionate and talented Senior Data Scientist to join our growing team. In this role, you’ll have the chance to roll up your sleeves and apply data science methods and analytics to sustain NielsenIQ Analytics growth. Successful candidates are intellectually curious builders and active learners who are biased toward action, new problem solving.\nRoles & Responsibilities :\nUnderstand business issues, stakeholder requirement and expectations\nPerform relevant modeling analysis and POC exploring multiple techniques\nEnsure Analytics model quality\nDocument and present findings and recommendations on methodology in a structured way to various stakeholder or partnering teams (Engineering, Tech, Product leader).\nWork closely with the Engineering and Tech team to convert those POC into fully scalable products.\nActive and effective collaboration with other project team members (other Data Scientist, Data Steward, Technology Engineer)\nCollaboratively manage projects from timeline creation to project completion, managing expectations with leaders and colleagues\nEncourage team building, best practices sharing especially with more junior team members.\nStay abreast of developments in the area to ensure bringing the most appropriate solutions to our business\nAbout You\nYou’ve built a decent track record in research and data analytics. And you have the communication chops to translate it all into conversations. While you’ve worked with global cross-functional teams, you can also put your head down and focus on independent projects. Seeing the big picture takes attention to detail. Keeping up with the fast-changing world of technology takes someone who recognizes that. You know what’s happening in big data and you’re ready to influence what’s next.\nQualifications\nMasters degree in Data Sciences, mathematics or a closely related field\n3 to 5 years of experience as a Data Scientist in the business\nStrong knowledge of statistical modelling, machine learning.\nExperience in machine learning, supervised and unsupervised: Forecasting, Classification, Data/Text Mining, NLP, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms\nExperience with Optimisation techniques: linear programming, integer programming, genetic algorithm, constrained optimisation\nExperience in working on distributed or cloud computing platforms such as Google Cloud or Microsoft Azure\nProficiency in Data Science coding languages like Python, PySpark, SQL, R in a cloud environment like DataBricks\nExperience using collaborative development tools (git).\nExperience working with Agile methodologies (SCRUM)\nStrong problem solving and excellent communication skills, independent working style\nExperience in an FMCG company is a strong plus',
 'Roles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.',
 'Our Cause:\nRapido is Indias largest bike taxi player focused on solving the first and last mile connectivity problem for India. The primary focus is mobility and changing all facets of mobility across India.We believe that 2 Wheeler are the right mode of transport for developing countries like India and have much more scope than 4 wheelers, which is also reflected in the fact that the number of 2 wheelers is significantly more than the number of 4-wheelers.We have operations in close to 100 cities and are the undisputed market leader in this space. Growing close to 500% year-on-year, we have ambitious targets set for ourselves in the future as well.\n\nRole and Responsibilities:\n\nTranslating business requirements into analytical solutions\nPerform data analysis (with a representative sample data slice) and build/prototype the model(s)\nWork with business users and/or other data scientists to define and close on the model design\nProvide inputs to the data ingestion/engineering team on input data required by the model, size, format, associations, cleansing required\nIdentify/Provide approach and data to validate the model(s)\nCollaborate with a technology/data engineering team to transfer the business understanding, get the model productionized and validate the output along with business users\nTune the model(s) to improve results provided over time\nUnderstand business challenges and goals to formulate the approach for data analysis and model creation that will support business decision making\nDo hands-on data analysis and model creation\nWork closely with data analysts in the team to define and execute on EDA and experiment roadmap\nWork in highly collaborative teams that strive to build quality systems and provide business value\nContinually learn and develop your career\nMust have:\n\nPassion for understanding business problems and trying to address them by leveraging data - characterized by high-volume, high dimensionality from multiple sources\nAbility to communicate complex models and analysis in a clear and precise manner\nExperience with building predictive statistical, behavioral or other models via supervised and unsupervised machine learning, statistical analysis, and other predictive modeling techniques.\nExperience using R, Python or equivalent statistical/data analysis tools. Ability to transfer that knowledge to different tools\nExperience with matrices, distributions and probability\nProficiency with relational databases and NoSQL\nExperience in Machine Learning, Deep Learning solution, Neural Networks is preferred.\nWorked in a big data environment before alongside a data engineering team (and data visualization team, data and business analysts)\nEducation and Experience:\nBE/BS/MS or equivalent in Applied mathematics, statistics, physics, computer science or operations research background is a MUST. Minimum 5-8 years as Data Scientist in real business impact projects',
 'Roles Responsibilities :\nUnderstand business issues, stakeholder requirement and expectations\nPerform relevant modeling analysis and POC exploring multiple techniques\nEnsure Analytics model quality\nDocument and present findings and recommendations on methodology in a structured way to various stakeholder or partnering teams (Engineering, Tech, Product leader ).\nWork closely with the Engineering and Tech team to convert those POC into fully scalable products.\nActive and effective collaboration with other project team members (other Data Scientist, Data Steward, Technology Engineer )\nCollaboratively manage projects from timeline creation to project completion, managing expectations with leaders and colleagues\nEncourage team building, best practices sharing especially with more junior team members.\nStay abreast of developments in the area to ensure bringing the most appropriate solutions to our business\nAbout You\nYou ve built a decent track record in research and data analytics. And you have the communication chops to translate it all into conversations. While you ve worked with global cross-functional teams, you can also put your head down and focus on independent projects. Seeing the big picture takes attention to detail. Keeping up with the fast-changing world of technology takes someone who recognizes that. You know what s happening in big data and you re ready to influence what s next.\nQualifications\nMasters degree in Data Sciences, mathematics or a closely related field\n3 to 5 years of experience as a Data Scientist in the business\nStrong knowledge of statistical modelling, machine learning.\nExperience in machine learning, supervised and unsupervised: Forecasting, Classification, Data/Text Mining, NLP, Decision Trees, Adaptive Decision Algorithms, Random Forest, Search Algorithms, Neural Networks, Deep Learning Algorithms\nExperience with Optimisation techniques: linear programming, integer programming, genetic algorithm, constrained optimisation\nExperience in working on distributed or cloud computing platforms such as Google Cloud or Microsoft Azure\nProficiency in Data Science coding languages like Python, PySpark, SQL, R in a cloud environment like DataBricks\nExperience using collaborative development tools (git ).\nExperience working with Agile methodologies (SCRUM)\nStrong problem solving and excellent communication skills, independent working style\nExperience in an FMCG company is a strong plus',
 'As our Senior Data Scientist, youll be an integral player in the Marketplace Data Science team based in Bengaluru. With the latest cutting-edge data science tech at your disposal, youll focus your efforts on bringing our Marketplace systems (i.e. supply, demand, and pricing) to the next level, employing various quantitative techniques such as Machine Learning, Optimization, Simulation, Bayesian Techniques to drive asymmetric values for our businesses at Gojek. Youll be heavily involved in ideation, research, and building prototypes, and the folks in the Data Science Platform will bring your models to production. Your efforts will directly influence the stability and scalability of Gojeks Marketplace stream, and thus to companys top and bottom line as a whole.\n  What You Will Do\nWork with Data Scientists, Machine Learning Engineers, and Business Users to build, deploy, and scale Data Science solutions on match-making, supply, pricing problems in Gojek that touch the company s baseline\nUse your experience in Data Science, Machine Learning, Software Engineering, distributed systems to develop these systems, and work with the platform team to take the systems to production\nWork with Business teams to continuously refine and improve the systems to cater to ever-changing Gojek needs\nDesign and develop world class Data Science solutions to enhance the current stack of Marketplace algorithms for supply, demand, pricing\nWhat You Will Need\nAt least 6 years of experience as a Data Scientist or Machine Learning Engineer, with experience in Python, Golang/Java, and Unix\nA Bachelors Degree in Computer Science, Statistics, Operations Research, or a relevant quantitative field\nSolid knowledge of Data Science and Machine Learning fundamentals, with proven experience formulating Data Science solutions to business problems\nProven ability to recognize business needs and to communicate with multiple stakeholders within the Product Management, Business and Operations teams\nExperience in taking Data Science models to production\nPrior academic or industry work experience with forecasting methods like auto-regressive models, Markov models, and Kernel-based methods\nPrior experience with simulations for modeling the stochastic nature of marketplace supply and demand, and knowledge of the transportation and mobility space',
 'As our Senior Data Scientist, youll be an integral player in the Marketplace Data Science team based in Bengaluru. With the latest cutting-edge data science tech at your disposal, youll focus your efforts on bringing our Marketplace systems (i.e. supply, demand, and pricing) to the next level, employing various quantitative techniques such as Machine Learning, Optimization, Simulation, Bayesian Techniques to drive asymmetric values for our businesses at Gojek. Youll be heavily involved in ideation, research, and building prototypes, and the folks in the Data Science Platform will bring your models to production. Your efforts will directly influence the stability and scalability of Gojeks Marketplace stream, and thus to companys top and bottom line as a whole.\n  What You Will Do\nWork with Data Scientists, Machine Learning Engineers, and Business Users to build, deploy, and scale Data Science solutions on match-making, supply, pricing problems in Gojek that touch the company s baseline\nUse your experience in Data Science, Machine Learning, Software Engineering, distributed systems to develop these systems, and work with the platform team to take the systems to production\nWork with Business teams to continuously refine and improve the systems to cater to ever-changing Gojek needs\nDesign and develop world class Data Science solutions to enhance the current stack of Marketplace algorithms for supply, demand, pricing\nWhat You Will Need\nAt least 6 years of experience as a Data Scientist or Machine Learning Engineer, with experience in Python, Golang/Java, and Unix\nA Bachelors Degree in Computer Science, Statistics, Operations Research, or a relevant quantitative field\nSolid knowledge of Data Science and Machine Learning fundamentals, with proven experience formulating Data Science solutions to business problems\nProven ability to recognize business needs and to communicate with multiple stakeholders within the Product Management, Business and Operations teams\nExperience in taking Data Science models to production\nPrior academic or industry work experience with forecasting methods like auto-regressive models, Markov models, and Kernel-based methods\nPrior experience with simulations for modeling the stochastic nature of marketplace supply and demand, and knowledge of the transportation and mobility space',

In [66]:
print(len(job_Description))

10

In [70]:
job_Titile=[]


for i in job_Opening_urls[0:10]:   
    driver.get(i)
    try:
     
        job_Name=driver.find_element_by_xpath("//h1[@class='jd-header-title']") 
        job_Titile.append(job_Name.text).replace('\n','') 
        
    except:
        pass
job_Titile

['Senior Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Senior Data Scientist',
 'Sr Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr Data Scientist, Payments']

In [72]:
print(len(job_Titile))

10

In [101]:
job_Company=[]


for i in job_Opening_urls[:10]:   
    driver.get(i)
    try:
     
        job_Comp=driver.find_element_by_xpath("//div[@class='jd-header-comp-name']//a") 
        job_Company.append(job_Comp.text).replace('\n','') 
        
    except:
        pass
job_Company

['Fractal Analytics',
 'Nielsen',
 'Wrackle Technologies Pvt Ltd',
 'Roppen Transportation Services Private Limited',
 'NielsenIQ',
 'Gojek Tech',
 'GO-JEK India',
 'Publicis Groupe',
 'Baker Hughes Incorporated',
 'AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED']

In [107]:
job_Location=[]


for i in job_Opening_urls[:10]:   
    driver.get(i)
    try:
     
        job_Loc=driver.find_element_by_xpath("//div[@class='loc']//span") 
        job_Location.append(job_Loc.text).replace('\n','') 
        
    except:
        pass
job_Location

['Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru, Vadodara',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [110]:
jobs=pd.DataFrame({})

jobs['Company']=job_Titile
jobs['Experience']=job_Company
jobs['Location']=job_Location
jobs['Description']=job_Description
jobs

,Company,Experience,Location,Description
0,Senior Data Scientist,Fractal Analytics,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",The Artificial Intelligence and Machine Learni...
1,Senior Data Scientist,Nielsen,"Chennai, Bangalore/Bengaluru, Vadodara",ABOUT THIS JOB\nNielsenIQ Advanced Analytics t...
2,Lead Data Scientist - Machine Learning/ Data M...,Wrackle Technologies Pvt Ltd,Bangalore/Bengaluru,Roles and Responsibilities\nRequirements :\n\n...
3,Senior Data Scientist,Roppen Transportation Services Private Limited,Bangalore/Bengaluru,Our Cause:\nRapido is Indias largest bike taxi...
4,Sr Data Scientist,NielsenIQ,Bangalore/Bengaluru,Roles Responsibilities :\nUnderstand business ...
5,Senior Data Scientist,Gojek Tech,Bangalore/Bengaluru,"As our Senior Data Scientist, youll be an inte..."
6,Senior Data Scientist,GO-JEK India,Bangalore/Bengaluru,"As our Senior Data Scientist, youll be an inte..."
7,Senior Data Scientist,Publicis Groupe,Bangalore/Bengaluru,Epsilon India team is looking for a talented t...
8,Senior Data Scientist,Baker Hughes Incorporated,Bangalore/Bengaluru,"As a Sr Data Scientist, you will be responsibl..."
9,"Sr Data Scientist, Payments",AIRBNB GLOBAL CAPABILITY CENTER PRIVATE LIMITED,Bangalore/Bengaluru,"The Challenge\nBe a thought leader, partner wi..."

## Q-3: In this question you have to scrape data using the filters available on the webpage

In [13]:
url3 ='https://www.naukri.com/'  #set url here
driver.get(url3)                  
search_job=driver.find_element_by_id('qsb-keyword-sugg')     #we can find it by id even we can find it with xpath
search_job
search_job.send_keys("Data Scientist")                         #send on web browser we have to write Data Analyst
                     
search_btn=driver.find_element_by_xpath("//button[@class='btn']")      #we can find it by id even we can find it with xpath
search_btn.click()

In [14]:
Chk_Place=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]')
Chk_Place.click()

In [15]:
Chk_salary=driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]')
Chk_salary.click()

In [16]:
#Titile
Titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Titles_tags
#Now we will run for loop to find all data
job_titles=[]              #empty tag 
for i in Titles_tags:      
    job_titles.append(i.text)

job_titles 
#Experience_tags
Experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
Experience_tags
job_exp=[]
for i in Experience_tags:
    job_exp.append(i.text)
job_exp 

#salary_tags
salary_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']//span")
salary_tags
#Now we will run for loop to find all data
salary_exp=[]
for i in salary_tags:
    salary_exp.append(i.text)
salary_exp 

#desrcriptionTag
desrcriptionTag=driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
desrcriptionTag
descriptionJob=[]
for i in desrcriptionTag:
    descriptionJob.append(i.text)
descriptionJob

#locationJob
locationJob=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
locationJob
locationForJob=[]
for i in locationJob:
    locationForJob.append(i.text)
locationForJob

#Company
Companytags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
Companytags
#Now we will run for loop to find all data
job_Company=[]              #empty tag 
for i in Companytags:      
    job_Company.append(i.text)

job_Company 
print(len(job_titles),len(job_exp),len(salary_exp),len(job_Company),len(locationForJob))

jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['Company']=job_Company
jobs['Experience']=job_exp
jobs['Location']=locationForJob
jobs[0:10]

20 20 20 20 20

,Title,Company,Experience,Location
0,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,New Delhi
1,Data Scientist,Shadowfax Technologies Pvt. Ltd.,1-3 Yrs,Gurgaon/Gurugram
2,Change Magician - Machine Learning Engineer,17LIVE INC,0-0 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
3,"Data Analyst - Python, HIVE",Optum Global Solutions (India) Private Limited,1-4 Yrs,Noida
4,Python Developer,CYFUTURE INDIA PRIVATE LIMITED,1-4 Yrs,Noida(NSEZ)
5,Python Developer - HELI,Blitz Jobs,1-3 Yrs,Gurgaon/Gurugram
6,Urgent Opening For Data Analyst - Business Exc...,Ison Bpo India Pvt Ltd,2-5 Yrs,Noida
7,Data Analyst - BI,AlgoScale Technologies Private Limited,2-5 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
8,Python Developer,ADHIKARI PLACEMENTS SERVICES( OPC) PRIVATE LIM...,1-3 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
9,Python Developer - Gurgaon,Elizabeth N Queen,2-4 Yrs,Gurgaon/Gurugram

## Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the compan

In [23]:
url4 ='https://www.glassdoor.co.in/index.htm'  #set url here
driver.get(url4)                  
search_job=driver.find_element_by_id('sc.keyword')     #we can find it by id even we can find it with xpath
search_job
search_job.send_keys("Data Scientist")                         #send on web browser we have to write Data Analyst
         
search_job=driver.find_element_by_id('sc.location')     #we can find it by id even we can find it with xpath
search_job
search_job.send_keys("Noida")      
search_btn=driver.find_element_by_xpath('//*[@id="scBar"]/div/button')      #we can find it by id even we can find it with xpath
search_btn.click()

In [39]:

Titles_tags=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a[@class=' css-l2wjgv e1n63ojh0 jobLink']//span")
Titles_tags
#Now we will run for loop to find all data
job_titles=[]              #empty tag 
for i in Titles_tags[:10]:
     job_titles.append(i.text)  
job_titles

['Ericsson',
 'MasterCard',
 'Siemens Technology and Services Private Limited',
 'CSTEP',
 'Crowe',
 'Ginger Webs Pvt. Ltd.',
 'Data Patterns',
 'UnitedHealth Group',
 'Innovacer',
 'Scymes Services Pvt. ltd']

In [36]:

Titles_tags=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
Titles_tags
#Now we will run for loop to find all data
job_star=[]              #empty tag 
for i in Titles_tags[:10]:
     job_star.append(i.text)  
job_star

['4.1', '4.3', '4.1', '3.1', '3.8', '3.0', '3.7', '3.8', '3.9', '4.1']

In [35]:

Titles_tags=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
Titles_tags
#Now we will run for loop to find all data
job_day=[]              #empty tag 
for i in Titles_tags[:10]:
     job_day.append(i.text)  
job_day

['1d', '1d', '14d', '17d', '30d', '22d', '18d', '3d', '4d', '24h']

In [40]:

jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['rate']=job_star
jobs['days']=job_day

jobs

                                             Title rate days
0                                         Ericsson  4.1   1d
1                                       MasterCard  4.3   1d
2  Siemens Technology and Services Private Limited  4.1  14d
3                                            CSTEP  3.1  17d
4                                            Crowe  3.8  30d
5                            Ginger Webs Pvt. Ltd.  3.0  22d
6                                    Data Patterns  3.7  18d
7                               UnitedHealth Group  3.8   3d
8                                        Innovacer  3.9   4d
9                         Scymes Services Pvt. ltd  4.1  24h

## Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

### note: I used location SURAT

In [11]:
url5 =' https://www.glassdoor.co.in/Salaries/index.htm'  #set url here
driver.get(url5)

In [12]:
search_job=driver.find_element_by_id('KeywordSearch')     #we can find it by id even we can find it with xpath
search_job
search_job.send_keys("Data Scientist")                         #send on web browser we have to write Data Analyst
         
search_job=driver.find_element_by_id('LocationSearch')     #we can find it by id even we can find it with xpath
search_job
search_job.send_keys("Surat (India)")      
search_btn=driver.find_element_by_xpath('//*[@id="HeroSearchButton"]')      #we can find it by id even we can find it with xpath
search_btn.click()

In [14]:
Titles_tags=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
Titles_tags
#Now we will run for loop to find all data
job_titles=[]              #empty tag 
for i in Titles_tags[:10]:
     job_titles.append(i.text)  
job_titles

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum Global Solutions',
 'ZS Associates']

In [15]:
Titles_tags=driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
Titles_tags
#Now we will run for loop to find all data
job_star=[]              #empty tag 
for i in Titles_tags[:10]:
     job_star.append(i.text)  
job_star

['3.9', '3.9', '4', '3.9', '4', '3.7', '4.2', '3.6', '3.9', '4']

In [25]:
Titles_tags=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
Titles_tags

[<selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="996adf5b-97cb-4dad-ac91-44656a5503b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="20549dec-a27b-46e7-be97-7919c62d87f0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="1121d4fe-0636-484e-94c3-6d3b1b68b220")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="b98850bc-2685-47f8-a7eb-4e2721d9b311")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="42255d5c-6c72-445a-bc45-af35e0119b31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="079de790-7755-4c4b-a2fe-991043b8b1d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="8f618a76-e987-43f0-bc78-7bac4f56fb71")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="be180109-0d22-4130-bdf0-be8744953adf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="c6a74593-193c-4839-a20c-23c6c7b69e60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="22810084-c3a2-4a64-9b7e-5c1ac0af94e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="16d2f882-1233-4bb9-97a8-1e4af5e36316")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="5bfd75dd-0da8-4730-bf19-a5168a5ec4e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="7c293348-ef62-43bc-9783-ebe166d5175d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="e4ff9432-4355-439a-9077-22af6a3102f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="90bd7ab3-341b-49f8-838a-f56995470d3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="2aa4615b-9888-46b7-990c-d8537fb1ff54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="480ccee2-e90e-4ac4-aa63-879531d720b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="ef30394b-800e-4a26-9a8b-b0922123ada0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="8d86b9d5-a3c1-4d45-91a9-cea3ae30e8ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="98a8a4562b672b412cedcf083a456bb6", element="c4507181-d588-4e13-a967-339cc091ef2d")>]

In [27]:
#Now we will run for loop to find all data
avrage_salary=[]              #empty tag 
for i in Titles_tags[:10]:
     avrage_salary.append(i.text) 
avrage_salary

['₹9,00,000\n /yr',
 '₹6,15,289\n /yr',
 '₹11,63,336\n /yr',
 '₹12,18,244\n /yr',
 '₹7,39,238\n /yr',
 '₹13,00,000\n /yr',
 '₹8,63,750\n /yr',
 '₹11,10,000\n /yr',
 '₹13,28,697\n /yr',
 '₹11,42,356\n /yr']

In [62]:
Titles_tags=driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0'][1]")
Titles_tags
#Now we will run for loop to find all data
min_salary=[]              #empty tag 
for i in Titles_tags[:10]:
    try:
        min_salary.append(i.text).replace('\n','')
    except:
        pass
min_salary
#note: \n is how can I remove here?

[]

In [57]:

jobs=pd.DataFrame({})
jobs['Title']=job_titles
jobs['rate']=job_star
jobs['avrage salary']=avrage_salary
jobs['Min -Max salary']=min_salary
jobs

                       Title  rate     avrage salary Min -Max salary
0                        IBM   ₹6L   ₹9,00,000\n /yr       ₹6L\n₹27L
1  Tata Consultancy Services  ₹27L   ₹6,15,289\n /yr       ₹3L\n₹13L
2                  Accenture   ₹3L  ₹11,63,336\n /yr       ₹6L\n₹22L
3                  Delhivery  ₹13L  ₹12,18,244\n /yr       ₹5L\n₹1Cr
4         Ericsson-Worldwide   ₹6L   ₹7,39,238\n /yr       ₹4L\n₹16L
5         UnitedHealth Group  ₹22L  ₹13,00,000\n /yr       ₹8L\n₹15L
6         Valiance Solutions   ₹5L   ₹8,63,750\n /yr       ₹5L\n₹15L
7                EXL Service  ₹1Cr  ₹11,10,000\n /yr       ₹6L\n₹15L
8     Optum Global Solutions   ₹4L  ₹13,28,697\n /yr       ₹4L\n₹22L
9              ZS Associates  ₹16L  ₹11,42,356\n /yr       ₹2L\n₹18L

## Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [3]:
url6 ='https://www.flipkart.com/'  #set url here
driver.get(url6)

In [5]:
search=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')     #we can find it by id even we can find it with xpath
search
search.send_keys("sunglasses")                         #send on web browser we have to write Data Analyst
         
search_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')      #we can find it by id even we can find it with xpath
search_btn.click()

In [32]:
b

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [45]:

product_titles=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    Titles
    for i in Titles[:100]:
        product_titles.append(i.text) 
product_titles[:100]

['Fravy',
 'PHENOMENAL',
 'Fastrack',
 'kingsunglasses',
 'Fastrack',
 'Badfella',
 'Fastrack',
 'Villain',
 'Singco India',
 'PIRASO',
 'Fastrack',
 'NuVew',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Silver Kartz',
 'Wrogn',
 'kingsunglasses',
 'NuVew',
 'Elligator',
 'ROYAL SON',
 'PHENOMENAL',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Poloport',
 'ROYAL SON',
 'Fastrack',
 'GANSTA',
 'ROZZETTA CRAFT',
 'hipe',
 'United Colors of Benetton',
 'ROYAL SON',
 'GANSTA',
 'IRUS by IDEE',
 'AISLIN',
 'Flizz',
 'hipe',
 'ROZZETTA CRAFT',
 'Fravy',
 'PHENOMENAL',
 'Fastrack',
 'kingsunglasses',
 'Fastrack',
 'Badfella',
 'Fastrack',
 'Villain',
 'Singco India',
 'PIRASO',
 'Fastrack',
 'NuVew',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Silver Kartz',
 'Wrogn',
 'kingsunglasses',
 'NuVew',
 'Elligator',
 'ROYAL SON',
 'PHENOMENAL',
 'kingsunglasses',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'Poloport',
 'ROYAL SON',
 'Fastrack',
 'GANSTA',
 'ROZZETTA CRAFT',
 'hipe',
 'United Colors of Benetton',
 'ROYAL SON',
 'GANSTA',
 'IRUS by IDEE',
 'AISLIN',
 'Flizz',
 'hipe',
 'ROZZETTA CRAFT',
 'Fravy',
 'PHENOMENAL',
 'Fastrack',
 'kingsunglasses',
 'Fastrack',
 'Badfella',
 'Fastrack',
 'Villain',
 'Singco India',
 'PIRASO',
 'Fastrack',
 'NuVew',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Silver Kartz',
 'Wrogn',
 'kingsunglasses',
 'NuVew',
 'Elligator',
 'ROYAL SON']

In [46]:
len(product_titles[:100])

100

In [49]:
product_desc=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    Titles
    for i in Titles[:100]:
        product_desc.append(i.text) 
product_desc[:100]

['UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'Gradient Aviator Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Riding Glasses Oval Sunglasse...',
 'UV Protection Oval Sunglasses (56)',
 'Mirrored Retro Square Sunglasses (57)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored, Gradient Retro Square Sunglass...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (61)',
 'Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'Mirrored, UV Protection Rectangular Sunglasses (56)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Others Rectangular Sunglasses (56)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection, Gradient, Riding Glasses Wayfarer Sungla...',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'Gradient Aviator Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Riding Glasses Oval Sunglasse...',
 'UV Protection Oval Sunglasses (56)',
 'Mirrored Retro Square Sunglasses (57)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored, Gradient Retro Square Sunglass...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (61)',
 'Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'Mirrored, UV Protection Rectangular Sunglasses (56)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'Others Rectangular Sunglasses (56)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Polarized Rectangular Sunglasses (Free S...',
 'UV Protection, Gradient, Riding Glasses Wayfarer Sungla...',
 'Polarized, UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'Gradient Aviator Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (Free Size)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Riding Glasses Oval Sunglasse...',
 'UV Protection Oval Sunglasses (56)',
 'Mirrored Retro Square Sunglasses (57)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (56)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Wayfarer Sunglasses (55)']

In [50]:
len(product_desc[:100])

100

In [52]:
product_price=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    Titles
    for i in Titles[:100]:
        product_price.append(i.text) 
product_price[:100]

['₹299',
 '₹319',
 '₹782',
 '₹210',
 '₹575',
 '₹269',
 '₹1,830',
 '₹539',
 '₹227',
 '₹237',
 '₹1,021',
 '₹185',
 '₹399',
 '₹1,470',
 '₹299',
 '₹711',
 '₹249',
 '₹235',
 '₹443',
 '₹265',
 '₹259',
 '₹315',
 '₹738',
 '₹788',
 '₹1,969',
 '₹503',
 '₹331',
 '₹499',
 '₹627',
 '₹323',
 '₹398',
 '₹197',
 '₹1,222',
 '₹499',
 '₹314',
 '₹454',
 '₹545',
 '₹279',
 '₹249',
 '₹449',
 '₹299',
 '₹319',
 '₹782',
 '₹210',
 '₹575',
 '₹269',
 '₹1,830',
 '₹539',
 '₹227',
 '₹237',
 '₹1,021',
 '₹185',
 '₹399',
 '₹1,470',
 '₹299',
 '₹711',
 '₹249',
 '₹235',
 '₹443',
 '₹265',
 '₹259',
 '₹315',
 '₹738',
 '₹788',
 '₹1,969',
 '₹503',
 '₹331',
 '₹499',
 '₹627',
 '₹323',
 '₹398',
 '₹197',
 '₹1,222',
 '₹499',
 '₹314',
 '₹454',
 '₹545',
 '₹279',
 '₹249',
 '₹449',
 '₹299',
 '₹319',
 '₹782',
 '₹210',
 '₹575',
 '₹269',
 '₹1,830',
 '₹539',
 '₹227',
 '₹237',
 '₹1,021',
 '₹185',
 '₹399',
 '₹1,470',
 '₹299',
 '₹711',
 '₹249',
 '₹235',
 '₹443',
 '₹265']

In [53]:
len(product_price[:100])

100

In [55]:
product_disc=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    Titles
    for i in Titles[:100]:
        product_disc.append(i.text) 
product_disc[:100]

['80% off',
 '84% off',
 '₹17 off',
 '83% off',
 '₹224 off',
 '73% off',
 '₹169 off',
 '₹211 off',
 '84% off',
 '85% off',
 '₹278 off',
 '75% off',
 '72% off',
 '26% off',
 '75% off',
 '72% off',
 '80% off',
 '75% off',
 '70% off',
 '79% off',
 '87% off',
 '81% off',
 '₹361 off',
 '₹111 off',
 '₹30 off',
 '₹296 off',
 '81% off',
 '66% off',
 '₹272 off',
 '83% off',
 '73% off',
 '84% off',
 '70% off',
 '66% off',
 '84% off',
 '64% off',
 '64% off',
 '81% off',
 '75% off',
 '77% off',
 '80% off',
 '84% off',
 '₹17 off',
 '83% off',
 '₹224 off',
 '73% off',
 '₹169 off',
 '₹211 off',
 '84% off',
 '85% off',
 '₹278 off',
 '75% off',
 '72% off',
 '26% off',
 '75% off',
 '72% off',
 '80% off',
 '75% off',
 '70% off',
 '79% off',
 '87% off',
 '81% off',
 '₹361 off',
 '₹111 off',
 '₹30 off',
 '₹296 off',
 '81% off',
 '66% off',
 '₹272 off',
 '83% off',
 '73% off',
 '84% off',
 '70% off',
 '66% off',
 '84% off',
 '64% off',
 '64% off',
 '81% off',
 '75% off',
 '77% off',
 '80% off',
 '84% off',
 '₹17 off',
 '83% off',
 '₹224 off',
 '73% off',
 '₹169 off',
 '₹211 off',
 '84% off',
 '85% off',
 '₹278 off',
 '75% off',
 '72% off',
 '26% off',
 '75% off',
 '72% off',
 '80% off',
 '75% off',
 '70% off',
 '79% off']

In [58]:
len(product_disc[:100])

100

In [59]:

products=pd.DataFrame({})
products['Name']=product_titles[:100]
products['Description']=product_desc[:100]
products['Price']=product_price[:100]
products['Discounts']=product_disc[:100]
products

,Name,Description,Price,Discounts
0,Fravy,UV Protection Retro Square Sunglasses (Free Size),₹299,80% off
1,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹319,84% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹782,₹17 off
3,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹210,83% off
4,Fastrack,UV Protection Wayfarer Sunglasses (55),₹575,₹224 off
...,...,...,...,...
95,Wrogn,Mirrored Retro Square Sunglasses (57),₹711,72% off
96,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)",₹249,80% off
97,NuVew,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹235,75% off
98,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹443,70% off
99,ROYAL SON,UV Protection Wayfarer Sunglasses (55),₹265,79% off

## Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [5]:
url6 ='https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.¶'  #set url here
driver.get(url6)

In [13]:
Titles=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
Titles
product_url=[]              #empty tag 
for i in Titles[:3]:
     product_url.append(i.get_attribute('href')) 
product_url

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3']

In [14]:



product_titles=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    Titles
    for i in Titles[:100]:
        product_titles.append(i.text) 
product_titles[:100]

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5']

In [12]:
len(product_titles[:100])

30

In [16]:

product_review=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
    Titles
    for i in Titles[:100]:
        product_review.append(i.text) 
product_review[:100]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...',
 'The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...']

In [18]:
product_summary=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    Titles
    for i in Titles[:100]:
        product_summary.append(i.text) 
product_summary[:100]

['Brilliant',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Simply awesome',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Brilliant',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Simply awesome',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!',
 'Brilliant',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Simply awesome',
 'Great product',
 'Good choice',
 'Worth every penny',
 'Highly recommended',
 'Perfect product!']

In [15]:
len(product_titles[:100])

30

In [19]:
products=pd.DataFrame({})
products['Rating']=product_titles[:100]
products['Summary']=product_summary[:100]
products['Description']=product_review[:100]

products

,Rating,Summary,Description
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Simply awesome,Really satisfied with the Product I received.....
5,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
6,4,Good choice,So far it’s been an AMAZING experience coming ...
7,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
8,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
9,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
10,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
11,5,Perfect product!,Amazing phone with great cameras and better ba...
12,5,Worth every penny,Previously I was using one plus 3t it was a gr...
13,5,Fabulous!,This is my first iOS phone. I am very happy wi...
14,5,Simply awesome,Really satisfied with the Product I received.....
15,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
16,4,Good choice,So far it’s been an AMAZING experience coming ...
17,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
18,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
19,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
20,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
21,5,Perfect product!,Amazing phone with great cameras and better ba...
22,5,Worth every penny,Previously I was using one plus 3t it was a gr...
23,5,Fabulous!,This is my first iOS phone. I am very happy wi...
24,5,Simply awesome,Really satisfied with the Product I received.....
25,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
26,4,Good choice,So far it’s been an AMAZING experience coming ...
27,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
28,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
29,5,Perfect product!,It’s a must buy who is looking for an upgrade ...

## Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [20]:
url6 ='https://www.flipkart.com/'  #set url here
driver.get(url6)

In [36]:
search=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')     #we can find it by id even we can find it with xpath
search
search.send_keys("sneakers")                         #send on web browser we have to write Data Analyst
search_btn=driver.find_element_by_xpath('//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')      #we can find it by id even we can find it with xpath

search_btn.click()

In [35]:
Titles=driver.find_elements_by_xpath("//div[@class='_2MImiq']/nav[@class='yFHi8N']/a")
Titles
product_url=[]              #empty tag 
for i in Titles[:3]:
     product_url.append(i.get_attribute('href')) 
product_url

['https://www.flipkart.com/search?q=sneakerssneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakerssneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakerssneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [26]:
product_titles=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    Titles
    for i in Titles[:100]:
        product_titles.append(i.text) 
product_titles[:100]

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4']

In [27]:

product_titles=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    Titles
    for i in Titles[:100]:
        product_titles.append(i.text) 
product_titles[:100]

['Robbie jones',
 'Chevit',
 'Numenzo',
 'CALCADOS',
 'Stefano Rads',
 'KULP',
 'World Wear Footwear',
 'PEHANOSA',
 'Labbin',
 'Shoes Bank',
 'Nilatin',
 'Birde',
 'Robbie jones',
 'believe',
 'ESSENCE',
 'Numenzo',
 'Chevit',
 'bluemaker',
 'SCATCHITE',
 'BRUTON',
 'World Wear Footwear',
 'T-ROCK',
 'Kraasa',
 'HOTSTYLE',
 'India hub',
 'SPARX',
 'bluemaker',
 'Absolute comfort',
 'Robbie jones',
 'Robbie jones',
 'D-SNEAKERZ',
 'WRIZT',
 'SPARX',
 'Jokatoo',
 'Robbie jones',
 'World Wear Footwear',
 'restinfoot',
 'Arohi',
 'HOTSTYLE',
 'STRANGER BROTHERS',
 'Robbie jones',
 'Chevit',
 'Numenzo',
 'CALCADOS',
 'Stefano Rads',
 'KULP',
 'World Wear Footwear',
 'PEHANOSA',
 'Labbin',
 'Shoes Bank',
 'Nilatin',
 'Birde',
 'Robbie jones',
 'believe',
 'ESSENCE',
 'Numenzo',
 'Chevit',
 'bluemaker',
 'SCATCHITE',
 'BRUTON',
 'World Wear Footwear',
 'T-ROCK',
 'Kraasa',
 'HOTSTYLE',
 'India hub',
 'SPARX',
 'bluemaker',
 'Absolute comfort',
 'Robbie jones',
 'Robbie jones',
 'D-SNEAKERZ',
 'WRIZT',
 'SPARX',
 'Jokatoo',
 'Robbie jones',
 'World Wear Footwear',
 'restinfoot',
 'Arohi',
 'HOTSTYLE',
 'STRANGER BROTHERS',
 'Robbie jones',
 'Chevit',
 'Numenzo',
 'CALCADOS',
 'Stefano Rads',
 'KULP',
 'World Wear Footwear',
 'PEHANOSA',
 'Labbin',
 'Shoes Bank',
 'Nilatin',
 'Birde',
 'Robbie jones',
 'believe',
 'ESSENCE',
 'Numenzo',
 'Chevit',
 'bluemaker',
 'SCATCHITE',
 'BRUTON']

In [38]:
product_desc1=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    Titles
    for i in Titles[:100]:
        product_desc1.append(i.text) 
product_desc1[:100]

['Casual Sneakers Shoes For Men Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'heart beat Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Black Sneaker For Men Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Casuals Sneakers For Men',
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Series 7 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'casual for men (beige 06) Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'SM-322 Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'Casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'heart beat Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Black Sneaker For Men Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Casuals Sneakers For Men',
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Series 7 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'casual for men (beige 06) Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'SM-322 Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'Casual shoes Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Shoes For Men Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Sneakers For Men',
 'heart beat Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Black Sneaker For Men Sneakers For Men',
 'Combo Pack of 4 Casual Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers for men(black_6) Sneakers For Men',
 'Casuals Sneakers For Men',
 'Sneakers For Men',
 'Speed Set of 5 Pairs Sneakers Outdoors Casuals for Men ...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Super 445 Fashion Sneakers For Men',
 'Sneakers For Men',
 'Synthetic Leather Casual Partywear Wedding Sneakers Sho...',
 'Series 7 Sneakers For Men',
 'Fashionable casual sneakers shoes Sneakers For Men',
 'casual for men (beige 06) Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'SM-322 Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'Casual shoes Sneakers For Men',
 'Sneakers For Men']

In [29]:
product_price=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    Titles
    for i in Titles[:100]:
        product_price.append(i.text) 
product_price[:100]

['₹379',
 '₹498',
 '₹378',
 '₹748',
 '₹242',
 '₹399',
 '₹240',
 '₹495',
 '₹499',
 '₹349',
 '₹449',
 '₹698',
 '₹474',
 '₹449',
 '₹399',
 '₹449',
 '₹756',
 '₹449',
 '₹398',
 '₹474',
 '₹240',
 '₹378',
 '₹499',
 '₹199',
 '₹449',
 '₹649',
 '₹449',
 '₹199',
 '₹499',
 '₹449',
 '₹365',
 '₹279',
 '₹799',
 '₹418',
 '₹499',
 '₹240',
 '₹379',
 '₹469',
 '₹283',
 '₹475',
 '₹379',
 '₹498',
 '₹378',
 '₹748',
 '₹242',
 '₹399',
 '₹240',
 '₹495',
 '₹499',
 '₹349',
 '₹449',
 '₹698',
 '₹474',
 '₹449',
 '₹399',
 '₹449',
 '₹756',
 '₹449',
 '₹398',
 '₹474',
 '₹240',
 '₹378',
 '₹499',
 '₹199',
 '₹449',
 '₹649',
 '₹449',
 '₹199',
 '₹499',
 '₹449',
 '₹365',
 '₹279',
 '₹799',
 '₹418',
 '₹499',
 '₹240',
 '₹379',
 '₹469',
 '₹283',
 '₹475',
 '₹379',
 '₹498',
 '₹378',
 '₹748',
 '₹242',
 '₹399',
 '₹240',
 '₹495',
 '₹499',
 '₹349',
 '₹449',
 '₹698',
 '₹474',
 '₹449',
 '₹399',
 '₹449',
 '₹756',
 '₹449',
 '₹398',
 '₹474']

In [30]:
product_disc=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    Titles
    for i in Titles[:100]:
        product_disc.append(i.text) 
product_disc[:100]

['62% off',
 '66% off',
 '62% off',
 '62% off',
 '65% off',
 '60% off',
 '51% off',
 '50% off',
 '50% off',
 '65% off',
 '65% off',
 '65% off',
 '52% off',
 '55% off',
 '60% off',
 '77% off',
 '69% off',
 '55% off',
 '60% off',
 '88% off',
 '51% off',
 '62% off',
 '50% off',
 '60% off',
 '85% off',
 '7% off',
 '55% off',
 '60% off',
 '50% off',
 '55% off',
 '44% off',
 '72% off',
 '20% off',
 '71% off',
 '50% off',
 '51% off',
 '62% off',
 '53% off',
 '43% off',
 '52% off',
 '62% off',
 '66% off',
 '62% off',
 '62% off',
 '65% off',
 '60% off',
 '51% off',
 '50% off',
 '50% off',
 '65% off',
 '65% off',
 '65% off',
 '52% off',
 '55% off',
 '60% off',
 '77% off',
 '69% off',
 '55% off',
 '60% off',
 '88% off',
 '51% off',
 '62% off',
 '50% off',
 '60% off',
 '85% off',
 '7% off',
 '55% off',
 '60% off',
 '50% off',
 '55% off',
 '44% off',
 '72% off',
 '20% off',
 '71% off',
 '50% off',
 '51% off',
 '62% off',
 '53% off',
 '43% off',
 '52% off',
 '62% off',
 '66% off',
 '62% off',
 '62% off',
 '65% off',
 '60% off',
 '51% off',
 '50% off',
 '50% off',
 '65% off',
 '65% off',
 '65% off',
 '52% off',
 '55% off',
 '60% off',
 '77% off',
 '69% off',
 '55% off',
 '60% off',
 '88% off']

In [46]:
products=pd.DataFrame({})
products['Name']=product_titles[:100]

products['Price']=product_price[:100]
products['Discounts']=product_disc[:100]
#products['sed']=product_desc1[:100]       i don't get it
products

            Name Price Discounts
0   Robbie jones  ₹379   62% off
1         Chevit  ₹498   66% off
2        Numenzo  ₹378   62% off
3       CALCADOS  ₹748   62% off
4   Stefano Rads  ₹242   65% off
..           ...   ...       ...
95       Numenzo  ₹449   77% off
96        Chevit  ₹756   69% off
97     bluemaker  ₹449   55% off
98     SCATCHITE  ₹398   60% off
99        BRUTON  ₹474   88% off

[100 rows x 3 columns]

## Q-9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [47]:
url9 ='https://www.myntra.com/shoes'  #set url here
driver.get(url9)

In [50]:

Chk_price=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
Chk_price.click()

In [49]:
Chk_black=driver.find_element_by_xpath('//*[@id="mountRoot"]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
Chk_black.click()

In [54]:
Titles=driver.find_elements_by_xpath("//div[@class='results-showMoreContainer']/ul[@class='pagination-container']/li/a")
Titles
product_url=[]              #empty tag 
for i in Titles[:3]:
     product_url.append(i.get_attribute('href')) 
product_url

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0%2C6687.0_13125.0_6687.0%20TO%2013125.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0%2C6687.0_13125.0_6687.0%20TO%2013125.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6649.0_13099.0_6649.0%20TO%2013099.0%2C6687.0_13125.0_6687.0%20TO%2013125.0&p=2']

In [55]:
product_titles=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    Titles
    for i in Titles[:100]:
        product_titles.append(i.text) 
product_titles[:100]

['Nike',
 'Lacoste',
 'Saint G',
 'Nike',
 'RARE RABBIT',
 'Nike',
 'Geox',
 'Nike',
 'Geox',
 'Bugatti',
 'ALDO',
 'Nike',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'Nike',
 'Geox',
 'Ruosh',
 'Heel & Buckle London',
 'Geox',
 'Bugatti',
 'Hush Puppies',
 'Geox',
 'Saint G',
 'Cole Haan',
 'Cole Haan',
 'Geox',
 'Florsheim',
 'Cole Haan',
 'Louis Philippe',
 'VIONIC',
 'ADIDAS',
 'J.FONTINI',
 'Hush Puppies',
 'Hush Puppies',
 'UNDER ARMOUR',
 'KLEAT',
 'J.FONTINI',
 'Lacoste',
 'Lacoste',
 'ASICS',
 'KLEAT',
 'Ruosh',
 'UNDER ARMOUR',
 'Cole Haan',
 'Nike',
 'Cole Haan',
 'Geox',
 'Geox',
 'ALDO',
 'Nike',
 'Lacoste',
 'Saint G',
 'Nike',
 'RARE RABBIT',
 'Nike',
 'Geox',
 'Nike',
 'Geox',
 'Bugatti',
 'ALDO',
 'Nike',
 'DAVINCHI',
 'DAVINCHI',
 'DAVINCHI',
 'Nike',
 'Geox',
 'Ruosh',
 'Heel & Buckle London',
 'Geox',
 'Bugatti',
 'Hush Puppies',
 'Geox',
 'Saint G',
 'Cole Haan',
 'Cole Haan',
 'Geox',
 'Florsheim',
 'Cole Haan',
 'Louis Philippe',
 'VIONIC',
 'ADIDAS',
 'J.FONTINI',
 'Hush Puppies',
 'Hush Puppies',
 'UNDER ARMOUR',
 'KLEAT',
 'J.FONTINI',
 'Lacoste',
 'Lacoste',
 'ASICS',
 'KLEAT',
 'Ruosh',
 'UNDER ARMOUR',
 'Cole Haan',
 'Nike',
 'Cole Haan',
 'Geox',
 'Geox',
 'ALDO']

In [56]:
len(product_titles[:100])

100

In [57]:
product_desc_M=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//H4[@class='product-product']")
    Titles
    for i in Titles[:100]:
        product_desc_M.append(i.text) 
product_desc_M[:100]

['Women AIR MAX VIVA Sneakers',
 'Men Colourblocked Sneakers',
 'Men Leather Chelsea Boots',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men Perforations Leather Brogues',
 'Men Zoom Winflo 8 Running',
 'Men Leather Semiformal Driving',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men Leather Formal Derbys',
 'Men Solid Leather Formal Monk Shoes',
 'Women Sandals',
 'Men REACT MILER 2 Running',
 'Men Formal Leather Slip-Ons',
 'Ustraa black',
 'Men Textured Formal Leather Loafers',
 'Men REACT MILER 2 Running',
 'Men Leather Formal Slip-Ons',
 'Men Formal Leather Brogues',
 'Women Peep Toe Heels',
 'Men Leather Driving Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Leather Formal Derbys',
 'Men Leather Formal Derbys',
 'Women Leather Heeled Boots',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Loafers',
 'Leather Sneakers',
 'Men Leather Formal Slip-Ons',
 'Men Textured Sneakers',
 'Women Edge Lux 4 Running',
 'Men Textured Leather Loafers',
 'Men Textured Oxfords',
 'Men Woven Design Sneakers',
 'HOVR Infinite 2 Running Shoes',
 'Men Woven Design Loafers',
 'Men Solid Loafers',
 'Men Woven Design Sneakers',
 'Woven Design Casual Sneakers',
 'Men Running Shoes',
 'Men Woven Design Sneakers',
 'Men Leather Formal Brogues',
 'Women HOVR Infinite 2 Running',
 'Women Open Toe Flats',
 'Men AIR MAX INFINITY Sneakers',
 'Women Sneakers',
 'Women Solid Leather Loafers',
 'Men Leather Formal Monks',
 'Women Solid Leather Pumps',
 'Women AIR MAX VIVA Sneakers',
 'Men Colourblocked Sneakers',
 'Men Leather Chelsea Boots',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men Perforations Leather Brogues',
 'Men Zoom Winflo 8 Running',
 'Men Leather Semiformal Driving',
 'Men AIR ZOOM PEGASUS 38 Run',
 'Men Leather Formal Derbys',
 'Men Solid Leather Formal Monk Shoes',
 'Women Sandals',
 'Men REACT MILER 2 Running',
 'Men Formal Leather Slip-Ons',
 'Ustraa black',
 'Men Textured Formal Leather Loafers',
 'Men REACT MILER 2 Running',
 'Men Leather Formal Slip-Ons',
 'Men Formal Leather Brogues',
 'Women Peep Toe Heels',
 'Men Leather Driving Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Leather Formal Derbys',
 'Men Leather Formal Derbys',
 'Women Leather Heeled Boots',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Leather Slip-On Sneakers',
 'Men Solid Leather Formal Loafers',
 'Leather Sneakers',
 'Men Leather Formal Slip-Ons',
 'Men Textured Sneakers',
 'Women Edge Lux 4 Running',
 'Men Textured Leather Loafers',
 'Men Textured Oxfords',
 'Men Woven Design Sneakers',
 'HOVR Infinite 2 Running Shoes',
 'Men Woven Design Loafers',
 'Men Solid Loafers',
 'Men Woven Design Sneakers',
 'Woven Design Casual Sneakers',
 'Men Running Shoes',
 'Men Woven Design Sneakers',
 'Men Leather Formal Brogues',
 'Women HOVR Infinite 2 Running',
 'Women Open Toe Flats',
 'Men AIR MAX INFINITY Sneakers',
 'Women Sneakers',
 'Women Solid Leather Loafers',
 'Men Leather Formal Monks',
 'Women Solid Leather Pumps']

In [58]:
len(product_desc_M[:100])

100

In [88]:
product_price_M=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div[@class='product-price']/span[1]")
    Titles
    for i in Titles[:100]:
        product_price_M.append(i.text) 
product_price_M[:100]
#Error: i got original value after discounts

['Rs. 9371Rs. 12495',
 'Rs. 8650',
 'Rs. 11305Rs. 11900',
 'Rs. 9995',
 'Rs. 6999',
 'Rs. 8295',
 'Rs. 10490',
 'Rs. 9995',
 'Rs. 7349Rs. 10499',
 'Rs. 8499',
 'Rs. 8999',
 'Rs. 11495',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 11495',
 'Rs. 7495Rs. 14990',
 'Rs. 7490',
 'Rs. 7192Rs. 8990',
 'Rs. 9999',
 'Rs. 10499',
 'Rs. 6999',
 'Rs. 6995Rs. 13990',
 'Rs. 6675Rs. 8900',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 9490',
 'Rs. 6995',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 7039Rs. 10999',
 'Rs. 7999',
 'Rs. 7690',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 8500',
 'Rs. 7052Rs. 10850',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 6990',
 'Rs. 11999',
 'Rs. 11999',
 'Rs. 8295',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 7999Rs. 15999',
 'Rs. 9999',
 'Rs. 9371Rs. 12495',
 'Rs. 8650',
 'Rs. 11305Rs. 11900',
 'Rs. 9995',
 'Rs. 6999',
 'Rs. 8295',
 'Rs. 10490',
 'Rs. 9995',
 'Rs. 7349Rs. 10499',
 'Rs. 8499',
 'Rs. 8999',
 'Rs. 11495',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 11495',
 'Rs. 7495Rs. 14990',
 'Rs. 7490',
 'Rs. 7192Rs. 8990',
 'Rs. 9999',
 'Rs. 10499',
 'Rs. 6999',
 'Rs. 6995Rs. 13990',
 'Rs. 6675Rs. 8900',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 9490',
 'Rs. 6995',
 'Rs. 10999',
 'Rs. 6999',
 'Rs. 7039Rs. 10999',
 'Rs. 7999',
 'Rs. 7690',
 'Rs. 6999',
 'Rs. 6999',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 7990',
 'Rs. 8500',
 'Rs. 7052Rs. 10850',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 6990',
 'Rs. 11999',
 'Rs. 11999',
 'Rs. 8295',
 'Rs. 12999',
 'Rs. 7999',
 'Rs. 7999Rs. 15999',
 'Rs. 9999']

In [86]:
len(product_price_M[:100])

100

In [87]:
products=pd.DataFrame({})
products['Name']=product_titles[:100]
products['description']=product_desc_M[:100]
products['Price']=product_price_M[:100]

products

           Name                       description               Price
0          Nike       Women AIR MAX VIVA Sneakers   Rs. 9371Rs. 12495
1       Lacoste        Men Colourblocked Sneakers            Rs. 8650
2       Saint G         Men Leather Chelsea Boots  Rs. 11305Rs. 11900
3          Nike       Men AIR ZOOM PEGASUS 38 Run            Rs. 9995
4   RARE RABBIT  Men Perforations Leather Brogues            Rs. 6999
..          ...                               ...                 ...
95         Nike     Men AIR MAX INFINITY Sneakers            Rs. 8295
96    Cole Haan                    Women Sneakers           Rs. 12999
97         Geox       Women Solid Leather Loafers            Rs. 7999
98         Geox          Men Leather Formal Monks   Rs. 7999Rs. 15999
99         ALDO         Women Solid Leather Pumps            Rs. 9999

[100 rows x 3 columns]

## Q10: Go to webpage https://www.amazon.in/   Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [89]:
url10 ='https://www.amazon.in/'  #set url here
driver.get(url10)

In [90]:
search=driver.find_element_by_xpath('//*[@id="twotabsearchtextbox"]')     #we can find it by id even we can find it with xpath
search
search.send_keys("Laptop")                         #send on web browser we have to write Data Analyst
search_btn=driver.find_element_by_xpath('//*[@id="nav-search-submit-button"]')      #we can find it by id even we can find it with xpath

search_btn.click()

In [92]:
Chk_price=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div')
Chk_price.click()

In [93]:
Chk_price=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a/div')
Chk_price.click()

In [100]:
Titles=driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none a-padding-base']/div[@class='a-text-center']/ul[@class='a-pagination']/li/a")
product_url=[]              #empty tag 
for i in Titles[:4]:
     product_url.append(i.get_attribute('href')) 
product_url

['https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1625946632&rnid=12598141031&ref=sr_pg_1',
 'https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&page=2&qid=1625946632&rnid=12598141031&ref=sr_pg_2',
 'https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&page=3&qid=1625946632&rnid=12598141031&ref=sr_pg_3',
 'https://www.amazon.in/s?k=Laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&page=2&qid=1625946632&rnid=12598141031&ref=sr_pg_1']

In [101]:
product_titles=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
    Titles
    for i in Titles[:100]:
        product_titles.append(i.text) 
product_titles[:100]

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo Legion 7 10th Gen Intel Core i7 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU002AIN',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Core i7-10870H 10th Gen, GTX 1650 Ti GDDR6 4GB Graphics, Gaming Laptop (16GB RAM/1TB HDD + 256GB SSD/Windows 10/Fortress Gray/2.3 Kg), FX566LI-HN133T',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Dell Inspiron 15 Gaming 7567 15.6-inch Laptop (7th Gen Core i7-7700HQ/8GB/1TB/Windows 10 with Microsoft Office Home & Student 2016/4GB Graphics)',
 'Dell 14 (2021) i7-1165G7 2in1 Touch Screen Laptop, 16Gb RAM, 512Gb SSD, 14” (35.56 cms) FHD Display, Win 10 + MSO, Backlit KB + FPR + Active Pen, Silver Metal Color (Inspiron 5410, D560469WIN9S)',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (16GB RAM /1TB SSD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics ;Dreamy White;1.4 Kg), S433EA-AM702TS',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (8GB RAM/1TB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'MSI GF63 Thin 10SCSR-019IN Intel Core i7-10750H 10th Gen 15.6-inch 120Hz Laptop(8GB/512GB NVMe SSD /Windows 10 Home/Nvidia GeForce GTX 1650Ti Max-Q 4GB/Black/1.8Kg ) 9S7-16R412-019',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Asus ROG Zephyrus S Ultra Slim Gaming Laptop, 15.6" 144Hz IPS Type FHD, GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe NVMe SSD, Aura Sync RGB, Windows 10, GX531GW-AS76',
 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6” FHD Gaming (8GB/256SSD + 1TBHDD/Win10/NVIDIA GeForce GTX 1650 4GB/Raven Black/2.3kg), 81SY00U7IN',
 '(Renewed) Dell Intel Core i7 7th Gen12.5 Inch(31.75 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (8GB RAM/256GB SSD/Windows 10 Pro/MS Office/Intel Integrated HD Graphics /1.18Kg,Black) Latitude E7280',
 '(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15-Inch (38.1 cms) 1366x768 Laptop (8 GB/500 GB HDD/Windows/MS Office Pro 2019 /AMD/Black/2.47 Kg), Latitude E5570',
 '(Renewed) Lenovo Yoga 900 Laptop 80UE00BLIH (Core i7 (6th Gen)/512 GB/8 GB/33.78 cm (13.3)/Windows 10) (Champagne Gold)',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (4GB RAM/320GB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'Dell Inspiron 5406 14" FHD Touch Display 2in1 Laptop (11th Gen i7-1165G7 / 8Gb / 512Gb SSD / Integrated Graphics / Win 10 + MSO / Titan Grey Color / FPR/ Active Pen) D560414WIN9S',
 'NEXSTGO Primus NX201 NP15N1IN008P 15.6-inch Laptop (Core i7-8550U/8GB/256GBSSD/Windows 10 Pro/Full HD + IR/Finger Print/Integrated Graphics/Thin & Light/1.88KG), Dark Gray',
 'Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
 'ASUS ROG Zephyrus S15 (2020), 15.6" FHD 300Hz/3ms, Intel Core i7-10875H 10th Gen, RTX 2080 Super Max-Q 8GB Graphics, Gaming Laptop (32GB/1TB RAID 0 SSD/Windows 10/Black/1.9 Kg), GX502LXS-HF081T',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo Legion 7 10th Gen Intel Core i7 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU002AIN',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Core i7-10870H 10th Gen, GTX 1650 Ti GDDR6 4GB Graphics, Gaming Laptop (16GB RAM/1TB HDD + 256GB SSD/Windows 10/Fortress Gray/2.3 Kg), FX566LI-HN133T',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Dell Inspiron 15 Gaming 7567 15.6-inch Laptop (7th Gen Core i7-7700HQ/8GB/1TB/Windows 10 with Microsoft Office Home & Student 2016/4GB Graphics)',
 'Dell 14 (2021) i7-1165G7 2in1 Touch Screen Laptop, 16Gb RAM, 512Gb SSD, 14” (35.56 cms) FHD Display, Win 10 + MSO, Backlit KB + FPR + Active Pen, Silver Metal Color (Inspiron 5410, D560469WIN9S)',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (16GB RAM /1TB SSD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics ;Dreamy White;1.4 Kg), S433EA-AM702TS',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (8GB RAM/1TB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'MSI GF63 Thin 10SCSR-019IN Intel Core i7-10750H 10th Gen 15.6-inch 120Hz Laptop(8GB/512GB NVMe SSD /Windows 10 Home/Nvidia GeForce GTX 1650Ti Max-Q 4GB/Black/1.8Kg ) 9S7-16R412-019',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Asus ROG Zephyrus S Ultra Slim Gaming Laptop, 15.6" 144Hz IPS Type FHD, GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe NVMe SSD, Aura Sync RGB, Windows 10, GX531GW-AS76',
 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6” FHD Gaming (8GB/256SSD + 1TBHDD/Win10/NVIDIA GeForce GTX 1650 4GB/Raven Black/2.3kg), 81SY00U7IN',
 '(Renewed) Dell Intel Core i7 7th Gen12.5 Inch(31.75 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (8GB RAM/256GB SSD/Windows 10 Pro/MS Office/Intel Integrated HD Graphics /1.18Kg,Black) Latitude E7280',
 '(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15-Inch (38.1 cms) 1366x768 Laptop (8 GB/500 GB HDD/Windows/MS Office Pro 2019 /AMD/Black/2.47 Kg), Latitude E5570',
 '(Renewed) Lenovo Yoga 900 Laptop 80UE00BLIH (Core i7 (6th Gen)/512 GB/8 GB/33.78 cm (13.3)/Windows 10) (Champagne Gold)',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (4GB RAM/320GB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'Dell Inspiron 5406 14" FHD Touch Display 2in1 Laptop (11th Gen i7-1165G7 / 8Gb / 512Gb SSD / Integrated Graphics / Win 10 + MSO / Titan Grey Color / FPR/ Active Pen) D560414WIN9S',
 'NEXSTGO Primus NX201 NP15N1IN008P 15.6-inch Laptop (Core i7-8550U/8GB/256GBSSD/Windows 10 Pro/Full HD + IR/Finger Print/Integrated Graphics/Thin & Light/1.88KG), Dark Gray',
 'Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
 'ASUS ROG Zephyrus S15 (2020), 15.6" FHD 300Hz/3ms, Intel Core i7-10875H 10th Gen, RTX 2080 Super Max-Q 8GB Graphics, Gaming Laptop (32GB/1TB RAID 0 SSD/Windows 10/Black/1.9 Kg), GX502LXS-HF081T',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo Legion 7 10th Gen Intel Core i7 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU002AIN',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Core i7-10870H 10th Gen, GTX 1650 Ti GDDR6 4GB Graphics, Gaming Laptop (16GB RAM/1TB HDD + 256GB SSD/Windows 10/Fortress Gray/2.3 Kg), FX566LI-HN133T',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Dell Inspiron 15 Gaming 7567 15.6-inch Laptop (7th Gen Core i7-7700HQ/8GB/1TB/Windows 10 with Microsoft Office Home & Student 2016/4GB Graphics)',
 'Dell 14 (2021) i7-1165G7 2in1 Touch Screen Laptop, 16Gb RAM, 512Gb SSD, 14” (35.56 cms) FHD Display, Win 10 + MSO, Backlit KB + FPR + Active Pen, Silver Metal Color (Inspiron 5410, D560469WIN9S)',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU',
 'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (16GB RAM /1TB SSD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics ;Dreamy White;1.4 Kg), S433EA-AM702TS',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (8GB RAM/1TB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'Dell Alienware m15(R3) 15.6-inch FHD Gaming Laptop (10th Gen Core i7-10750H/16GB/512GB SSD/Windows 10 Home & MS Office/6GB NVIDIA GTX 1660 Ti Graphics), Lunar Light',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm) FHD IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GTX1650 4GB GDDR6/Black/2.2Kg), 10SCXR-654IN',
 'MSI GF63 Thin 10SCSR-019IN Intel Core i7-10750H 10th Gen 15.6-inch 120Hz Laptop(8GB/512GB NVMe SSD /Windows 10 Home/Nvidia GeForce GTX 1650Ti Max-Q 4GB/Black/1.8Kg ) 9S7-16R412-019',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 'Asus ROG Zephyrus S Ultra Slim Gaming Laptop, 15.6" 144Hz IPS Type FHD, GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe NVMe SSD, Aura Sync RGB, Windows 10, GX531GW-AS76',
 'Lenovo Legion Y540 Intel Core i7 9th Gen 15.6” FHD Gaming (8GB/256SSD + 1TBHDD/Win10/NVIDIA GeForce GTX 1650 4GB/Raven Black/2.3kg), 81SY00U7IN',
 '(Renewed) Dell Intel Core i7 7th Gen12.5 Inch(31.75 cms) (1920 x 1080)FHD TOUCHSCREEN Laptop (8GB RAM/256GB SSD/Windows 10 Pro/MS Office/Intel Integrated HD Graphics /1.18Kg,Black) Latitude E7280',
 '(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15-Inch (38.1 cms) 1366x768 Laptop (8 GB/500 GB HDD/Windows/MS Office Pro 2019 /AMD/Black/2.47 Kg), Latitude E5570',
 '(Renewed) Lenovo Yoga 900 Laptop 80UE00BLIH (Core i7 (6th Gen)/512 GB/8 GB/33.78 cm (13.3)/Windows 10) (Champagne Gold)',
 '(Renewed) Dell Intel Core i7 4th Gen 14 Inch(35.56 cms) 1366x768 HD Laptop (4GB RAM/320GB HDD/Windows 10 Pro/MS Office 2019/Intel Integrated HD Graphics 4600/2.1Kg,Silver) Latitude E6440',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'Dell Inspiron 5406 14" FHD Touch Display 2in1 Laptop (11th Gen i7-1165G7 / 8Gb / 512Gb SSD / Integrated Graphics / Win 10 + MSO / Titan Grey Color / FPR/ Active Pen) D560414WIN9S',
 'NEXSTGO Primus NX201 NP15N1IN008P 15.6-inch Laptop (Core i7-8550U/8GB/256GBSSD/Windows 10 Pro/Full HD + IR/Finger Print/Integrated Graphics/Thin & Light/1.88KG), Dark Gray',
 'Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE',
 'ASUS ROG Zephyrus S15 (2020), 15.6" FHD 300Hz/3ms, Intel Core i7-10875H 10th Gen, RTX 2080 Super Max-Q 8GB Graphics, Gaming Laptop (32GB/1TB RAID 0 SSD/Windows 10/Black/1.9 Kg), GX502LXS-HF081T',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo Legion 7 10th Gen Intel Core i7 15.6 inch Full HD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2080 8GB GDDR6 Graphics/Slate Grey/2.25Kg), 81YU002AIN',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AF+Webcam',
 'ASUS TUF Gaming F15, 15.6" FHD 144Hz, Intel Core i7-10870H 10th Gen, GTX 1650 Ti GDDR6 4GB Graphics, Gaming Laptop (16GB RAM/1TB HDD + 256GB SSD/Windows 10/Fortress Gray/2.3 Kg), FX566LI-HN133T',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 'HP Pavilion x360 (2021) 14" (35.56cms) FHD Touchscreen Laptop, 11th Gen Core i7, 8 GB RAM, 512GB SSD, 2-in-1 Convertible, Windows 10, MS Office, Finger Print Reader (14-dw1040TU)',
 'Dell Inspiron 15 Gaming 7567 15.6-inch Laptop (7th Gen Core i7-7700HQ/8GB/1TB/Windows 10 with Microsoft Office Home & Student 2016/4GB Graphics)',
 'Dell 14 (2021) i7-1165G7 2in1 Touch Screen Laptop, 16Gb RAM, 512Gb SSD, 14” (35.56 cms) FHD Display, Win 10 + MSO, Backlit KB + FPR + Active Pen, Silver Metal Color (Inspiron 5410, D560469WIN9S)',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU']

In [102]:
len(product_titles[:100])

100

In [103]:
product_desc_A=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//span[@class='a-price']")
    Titles
    for i in Titles[:100]:
        product_desc_A.append(i.text) 
product_desc_A[:100]

['₹54,999',
 '₹2,00,000',
 '₹84,990',
 '₹59,999',
 '₹81,990',
 '₹96,555',
 '₹76,990',
 '₹78,990',
 '₹91,450',
 '₹88,990',
 '₹5,39,322',
 '₹49,999',
 '₹76,990',
 '₹43,999',
 '₹1,74,990',
 '₹96,555',
 '₹81,770',
 '₹84,990',
 '₹83,990',
 '₹69,990',
 '₹54,999',
 '₹61,799',
 '₹55,990',
 '₹39,999',
 '₹40,932',
 '₹56,155',
 '₹86,390',
 '₹1,98,960',
 '₹54,999',
 '₹2,00,000',
 '₹84,990',
 '₹59,999',
 '₹81,990',
 '₹96,555',
 '₹76,990',
 '₹78,990',
 '₹91,450',
 '₹88,990',
 '₹5,39,322',
 '₹49,999',
 '₹76,990',
 '₹43,999',
 '₹1,74,990',
 '₹96,555',
 '₹81,770',
 '₹84,990',
 '₹83,990',
 '₹69,990',
 '₹54,999',
 '₹61,799',
 '₹55,990',
 '₹39,999',
 '₹40,932',
 '₹56,155',
 '₹86,390',
 '₹1,98,960',
 '₹54,999',
 '₹2,00,000',
 '₹84,990',
 '₹59,999',
 '₹81,990',
 '₹96,555',
 '₹76,990',
 '₹78,990',
 '₹91,450',
 '₹88,990',
 '₹5,39,322',
 '₹49,999',
 '₹76,990',
 '₹43,999',
 '₹1,74,990',
 '₹96,555',
 '₹81,770',
 '₹84,990',
 '₹83,990',
 '₹69,990',
 '₹54,999',
 '₹61,799',
 '₹55,990',
 '₹39,999',
 '₹40,932',
 '₹56,155',
 '₹86,390',
 '₹1,98,960',
 '₹54,999',
 '₹2,00,000',
 '₹84,990',
 '₹59,999',
 '₹81,990',
 '₹96,555',
 '₹76,990',
 '₹78,990',
 '₹91,450',
 '₹88,990',
 '₹5,39,322',
 '₹49,999',
 '₹76,990',
 '₹43,999',
 '₹1,74,990',
 '₹96,555']

In [104]:
len(product_desc_A[:100])

100

In [116]:
product_desc_A=[]

for i in product_url:   
    Titles=driver.find_elements_by_xpath("//div[@class='a-section a-spacing-none a-spacing-top-micro']/div/i[@class='a-icon a-icon-star-small a-star-small-4-5 aok-align-bottom']/span[@class='a-icon-alt']")
    Titles
    for i in Titles[:100]:
        product_desc_A.append(i.text) 
product_desc_A[:100]

[]

In [121]:
products=pd.DataFrame({})
products['Name']=product_titles[:100]
products['description']=product_desc_M[:100]
products['Price']=product_price_M[:100]

products

,Name,description,Price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,Women AIR MAX VIVA Sneakers,Rs. 9371Rs. 12495
1,Lenovo Legion 7 10th Gen Intel Core i7 15.6 in...,Men Colourblocked Sneakers,Rs. 8650
2,HP Pavilion (2021) Thin & Light 11th Gen Core ...,Men Leather Chelsea Boots,Rs. 11305Rs. 11900
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,Men AIR ZOOM PEGASUS 38 Run,Rs. 9995
4,"ASUS TUF Gaming F15, 15.6"" FHD 144Hz, Intel Co...",Men Perforations Leather Brogues,Rs. 6999
...,...,...,...
95,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,Men AIR MAX INFINITY Sneakers,Rs. 8295
96,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",Women Sneakers,Rs. 12999
97,Dell Inspiron 15 Gaming 7567 15.6-inch Laptop ...,Women Solid Leather Loafers,Rs. 7999
98,Dell 14 (2021) i7-1165G7 2in1 Touch Screen Lap...,Men Leather Formal Monks,Rs. 7999Rs. 15999
99,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",Women Solid Leather Pumps,Rs. 9999